body{
    background-color: #191127;
}

.maincontainer {
    width: 700px;
    height: 850px;
    background-color: #f5f5f5;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 5px 5px #80808087;
    margin: 0 auto;
  }
.btn-dark{
    color: black
}

h1{
    font-size: revert;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}